In [1]:
import itertools
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import statsmodels.stats.api as sms
from scipy.stats import ttest_1samp,levene,shapiro,ttest_ind,mannwhitneyu,pearsonr,spearmanr,kendalltau,f_oneway,kruskal
from statsmodels.stats.proportion import proportions_ztest

In [2]:
df = pd.DataFrame()

In [4]:
df_control = pd.read_excel('ab_testing.xlsx', sheet_name = 'Control Group')
df_test = pd.read_excel('ab_testing.xlsx', sheet_name = 'Test Group')

In [7]:
df["cont_purchase"] = df_control["Purchase"]

In [8]:
df["test_purchase"] = df_test["Purchase"]

In [9]:
df.head()

   cont_purchase  test_purchase
0     665.211255     702.160346
1     315.084895     834.054286
2     458.083738     422.934258
3     487.090773     429.033535
4     441.034050     749.860442

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
cont_purchase,40.0,550.894059,134.108201,267.028943,470.095533,531.206307,637.957088,801.79502
test_purchase,40.0,582.106097,161.152513,311.629515,444.626828,551.355732,699.862360,889.91046

In [14]:
#Hipotez = 
#H0: M1 = M2 Test ve Kontrol gruplarının purchase ortalamaları arasında  anlamlı bir farklılık bulunmamaktadır
#H1: M1 != M2 Test ve Kontrol gruplarının purchase ortalamaları arasında anlamlı bir farklılık bulunmaktadır.

In [12]:
#Control Purchase Mean 
df["cont_purchase"].mean()

550.8940587702316

In [13]:
#Test Purchase Mean 
df["test_purchase"].mean()

582.1060966484677

In [15]:
#Test gurubunun satın alımı ortalama olarak daha yüksek çıkmıştır.

In [16]:
#Varsayım Kontrolleri

In [17]:
#Normallik Varsayımı 
#H0: Normal dağılım varsayımı sağlanmaktadır. 
#H1: Normal dağılım varsayımı sağlanmamaktadır.
#p < 0.05 H0 RED , p > 0.05 H0 REDDEDİLEMEZ
#Test sonucuna göre normallik varsayımı kontrol ve test grupları için sağlanıyor mu ? Elde edilen p-valuedeğerlerini yorumlayınız.

In [18]:
#Kontrol grubunun Normallik Varsayımı
test_stat, pvalue = shapiro(df["cont_purchase"].dropna())
print('Test stat = %.4f, p-value = %.4f' % (test_stat,pvalue))

Test stat = 0.9773, p-value = 0.5891

In [19]:
#Test Grubunun Normallik Varsayımı
test_stat, pvalue = shapiro(df["test_purchase"].dropna())
print('Test stat = %.4f, p-value = %.4f' % (test_stat,pvalue))

Test stat = 0.9589, p-value = 0.1541

In [20]:
#Kontrol Grubunun normallik varsayımına göre p value değeri 0.58 çıkmıştır. p >0.05 olduğundan H0 Reddedilemez ve Normal Dağılmıştır
#Test Grubunun Normallik varsayımına göre p value değeri 0.1541 çıkmıştır. p > 0.05 olduğundan H0 Reddedilemez ve Normal Dağılmıştır

In [21]:
#VaryansHomojenliği :
#H0: Varyanslarhomojendir.
#H1: Varyanslarhomojen Değildir.
#p < 0.05 H0 RED , p > 0.05 H0 REDDEDİLEMEZ 
#Kontrol ve test grubu için varyanshomojenliğinin sağlanıp sağlanmadığını Purchasedeğişkeni üzerinden test ediniz. Test sonucuna göre normallik varsayımı sağlanıyor mu? Elde edilen p-valuedeğerlerini yorumlayınız.

In [22]:
test_stat,pvalue = levene(df["test_purchase"].dropna(),df["cont_purchase"].dropna())

print('Test stat = %.4f, p-value = %.4f' % (test_stat,pvalue))

Test stat = 2.6393, p-value = 0.1083

In [23]:
#Kontrol ve Test Grubunun Homojenlik varsayımına göre p value değeri 0.1083 çıkmıştır. p > 0.05 olduğundan H0 Reddedilemez ve Varyanslar Homojendir.

In [26]:
#Seçilen Test = Bağımsız iki örneklem T testi. Varyanslık ve Normallik varsayımları sağlanmıştır.

In [29]:
#Hipotez = 
#H0: M1 = M2 Test ve Kontrol gruplarının purchase ortalamaları arasında  anlamlı bir farklılık bulunmamaktadır
#H1: M1 != M2 Test ve Kontrol gruplarının purchase ortalamaları arasında anlamlı bir farklılık bulunmaktadır. 
 
test_stat, pvalue = ttest_ind(df["test_purchase"].dropna(),df["cont_purchase"].dropna(), equal_var = True)
print('Test stat = %.4f, p-value = %.4f' % (test_stat,pvalue))

Test stat = 0.9416, p-value = 0.3493

In [30]:
#H0 REDDEDİLEMEZ, p value değeri 0.3493 çıkmıştır ve 0.05 değerinden büyüktür. Dolayısıyla, 
#Test ve Kontrol gruplarının purchase ortalamaları arasında  anlamlı bir farklılık bulunmamaktadır

In [33]:
#Yapılan istatistik testleri sonucunda Test ve Kontrol gruplarının purchase ortalamaları arasında  anlamlı bir farklılık bulunmamaktadır.
#Satın alma oranlarının arasında ortalamada bulunan fark şans eseri oluşmuştur. Bilimsel bir geçerliliği olmadığı ortaya çıkmıştır. 
#Dolayısıyla Maximum Bidding kullanılmaya devam edilmeliydi, iş gücü daha iyi bir yere aktarılmalı. Ya da kullanıcıların profili daha iyi okunup, ona göre
#bidding yönteminde farklı değişikliklere gidilmeli.